<div>
	 <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button ng-click="masterCtrl.toggleSidenav('left')" hide-gt-md class="md-icon-button">
          <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <h1>OSC</h1>
        <div flex="20" class="right-nav" layout="column" layout-align="center center">
          <md-menu>
            <md-button ng-click="$mdOpenMenu()">
              <i class="material-icons person-icon">&#xE7FD;</i>
              {{masterCtrl.slicedUserEmail}}
              <i class="material-icons">&#xE5CF;</i>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item ng-if="masterCtrl.loggedIn">
                <md-button ng-click="masterCtrl.showMyProfile($event)">
                  <i class="material-icons nav-menu-icon" md-menu-align-target>&#xE873;</i>
                  &nbsp; My Profile
                </md-button>
              </md-menu-item>
              <md-menu-item ng-if="masterCtrl.admin && masterCtrl.loggedIn">
                <md-button ng-click="masterCtrl.showManageUsers($event)">
                <i class="material-icons nav-menu-icon" md-menu-align-target>&#xE7EF;</i>
                  &nbsp; Manage Users
                </md-button>
              </md-menu-item>
              <md-menu-item ng-if="masterCtrl.loggedIn">
                <md-button ng-click="masterCtrl.logout()">
                <i class="material-icons nav-menu-icon" md-menu-align-target>&#xE879;</i>
                  &nbsp; Log Out
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </md-toolbar>

    <server-list ng-if="masterCtrl.loggedIn"></server-list>
</div>
