<md-dialog id="module-details-modal" aria-label="Module Status">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{thisModule.entityID}} Details</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <p>Module Stats Since: {{thisModule.date | date:'medium'}}</p>
    <md-card>
      <md-card-content>
        <div ng-repeat="(key, value) in thisModule.message | without:'status'">
          <table class="table table-striped text-center">
            <h3>{{key}}</h3>
              <tr>
                <th>Completed</th>
                <th>In Progress</th>
                <th>In Queue</th>
                <th>Errored</th>
                <th></th>
              </tr>
              <tr>
                <td>{{value.completed}}</td>
                <td>{{value.inProgress}}</td>
                <td>{{value.queue}}</td>
                <td>{{value.errored}}</td>
              </tr>
          </table>
        </div>
        <div ng-repeat="(key, value) in thisModule.message | only:'status'">
          <table class="table table-striped text-center">
            <tr>
              <th>Status</th>
            </tr>
            <tr>
              <td>{{value}}</td>
            </tr>
          </table>
        </div>
      </md-card-content>
    </md-card>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="closeTaskDetails()" class="md-primary">
     DISMISS
    </md-button>
  </div>
  </form>
</md-dialog>
