<md-content class="md-padding no-top-padding" layout="row" layout-wrap>
  <div id="server-search" flex="100" layout="row" layout-align="end">
    <md-button ng-show="!showServerSearch" ng-click="showServerSearch = !showServerSearch">
      <i class="material-icons">&#xE8B6;</i>
      SEARCH
    </md-button>
    <md-input-container ng-show="showServerSearch" flex="25">
      <label>Search Servers...</label>
      <input ng-model="s">
    </md-input-container>
    <i class="material-icons close-icon" ng-show="showServerSearch" ng-click="showServerSearch = !showServerSearch; s = ''">
      &#xE888;
    </i>
  </div>
  <div id="feedLoading" ng-show="serverListCtrl.isLoading"> </div>
  <div flex="20" ng-repeat="server in serverListCtrl.servers | orderBy:'message.status' | filter:s as results">
  	<md-card class="server-status-card" ng-click="serverListCtrl.checkServerData($event, server, $index)">
    		<md-card-content>
          <div class="server-status-img" ng-style="{{serverStatusImg(server)}}">
          </div>
      		<h3 class="server-host">{{server.hostname}}</h3>
          <h5 class="server-roles">{{server.ip}}</h5>
          <hr/>
          <h3 class="server-roles">{{server.roles}}</h3>
    		</md-card-content>
    </md-card>
  </div>
</md-content>
