<md-content class="md-padding no-top-padding" layout="row" layout-wrap>
  <div id="server-search" flex="100" layout="row" layout-align="end">
    <md-button ng-show="!showServerSearch" ng-click="showServerSearch = !showServerSearch">
      <i class="material-icons">&#xE8B6;</i>
      SEARCH
    </md-button>
    <md-input-container ng-show="showServerSearch" flex="25">
      <label>Search Servers...</label>
      <input ng-model="s">
    </md-input-container>
    <i class="material-icons close-icon" ng-show="showServerSearch" ng-click="showServerSearch = !showServerSearch; s = ''">
      &#xE888;
    </i>
  </div>
  <div flex="20" ng-repeat="server in serverListCtrl.servers | orderBy:'status' | filter:s as results">
  	<md-card class="server-status-card" ng-click="serverListCtrl.showBottomSheet($event, $index)">
    		<md-card-content>
          <div class="server-status-img"
               ng-class="{'status-ok': true, 'status-warn': server.status == 2, 'status-err': server.status == 1}">
          </div>
      		<h3 class="server-host">{{server.message.hostname}}</h3>
          <h3 class="server-roles">{{server.message.ip}}</h3>
          <hr/>
          <h3 class="server-roles" ng-repeat="role in server.roles">{{role}}</h3>
    		</md-card-content>
    </md-card>
  </div>
</md-content>
