<md-bottom-sheet class="md-list md-has-header server-list-bottom-sheet">
	<div class="container" layout="row" layout-wrap>
		<div flex="100" layout="row" layout-align="end">
			<p class="close-btn material-icons" ng-click="closeBottomSheet()">&#xE888;</p>
		</div>
		<div class="server-detail-info" flex="100">
			<h2>{{thisServer.message.hostname}}</h2>
			<p>
				IP Address: &nbsp;<span>{{thisServer.message.ip}}</span>
				Uptime: &nbsp;<span>{{thisServer.message.uptime | secondsToTimeString}}</span>
				<!-- Hostname: &nbsp;<span>{{server.host}}</span>
				Roles: &nbsp;<span>{{server.roles}}</span> -->
				Disk Usage: &nbsp;<span>{{thisServer.message.diskUsage}}%</span>
			</p>
		</div>
		<div flex="100">
		  <md-content id="modules-tabs" class="md-padding">
		    <md-tabs md-dynamic-height md-border-bottom>
		      <md-tab label="modules">
		      	<md-content layout="row" layout-wrap>
			      	<div flex="20" ng-repeat="module in modules">
					  	<md-card class="module-status-card" ng-click="showModuleDetails($event, $index)">
					    	<md-card-content>
					            <div class="server-status-img" ng-style="{{moduleStatusImg($index)}}"></div>
					      		<h3 class="server-host">{{module.entityID}}</h3>
					    	</md-card-content>
					    </md-card>
					</div>
				</md-content>
		      </md-tab>
		      <md-tab label="executions">
		      	<md-content layout="row" layout-wrap>
		      		<div flex="33">
					  	<md-card class="exec-list" ng-click="serverListCtrl.showBottomSheet($event, $index)">
					    	<md-card-content layout="column">
					    		<div class="exec-card-header" flex>
					            	<h2>EXECUTIONS</h2>
					            	<p ng-show="!showExecSearch" ng-click="showExecSearch = !showExecSearch">
					            		<i class="material-icons">&#xE8B6;</i>
					            		SEARCH
					            	</P>
					            	<span class="material-icons"
					            	      ng-show="showExecSearch"
					            	      ng-click="showExecSearch = !showExecSearch; e = ''">
					            		&#xE888;
					            	</span>
					            </div>
					            <div class="exec-search-box" ng-show="showExecSearch" flex>
					            	<md-input-container flex>
							          <label>Search Executions...</label>
							          <input ng-model="e">
							        </md-input-container>
					            </div>
						         <table class="table table-hover clickable-table table-top-margin">
						          	<tr ng-repeat="(key, value) in executions.executions" ng-click="selectExecution($index)">
						          		<td>{{value.executionID}}</td>
						          		<td>{{value.status}}</td>
						          	</tr>
						        </table>
					    	</md-card-content>
					    </md-card>
					</div>
			        <div flex="33">
					  	<md-card class="exec-list" ng-click="serverListCtrl.showBottomSheet($event, $index)">
					    	<md-card-content layout="column">
					    		<div class="exec-card-header" flex>
					            	<h2>STEPS</h2>
					            	<p ng-show="!showStepSearch && thisExecution.steps" ng-click="showStepSearch = !showStepSearch">
					            		<i class="material-icons">&#xE8B6;</i>
					            		SEARCH
					            	</p>
					            	<span class="material-icons"
					            	      ng-show="showStepSearch"
					            	      ng-click="showStepSearch = !showStepSearch; s = ''">
					            		&#xE888;
					            	</span>
					            </div>
					            <div class="exec-search-box" ng-show="showStepSearch" flex>
					            	<md-input-container flex>
							          <label>Search Steps...</label>
							          <input ng-model="s">
							        </md-input-container>
					            </div>
						         <table class="table table-hover clickable-table table-top-margin">
						          	<tr ng-repeat="(key, value) in executionPing.message.executionDetails.steps" ng-click="selectStep($index)">
						          		<td>{{value.label}}</td>
						          		<td>{{value.status}}</td>
						          	</tr>
						          	<tr ng-show="!thisExecution.steps">
						          		<td>Select an Execution...</td>
						          	</tr>
						        </table>
					    	</md-card-content>
					    </md-card>
					</div>
					<div flex="33">
					  	<md-card class="exec-list" ng-click="serverListCtrl.showBottomSheet($event, $index)">
					    	<md-card-content layout="column">
					    		<div class="exec-card-header" flex>
					            	<h2>TASKS</h2>
					            	<p ng-show="!showTaskSearch && thisStep.tasks" ng-click="showTaskSearch = !showTaskSearch">
					            		<i class="material-icons">&#xE8B6;</i>
					            		SEARCH
					            	</p>
					            	<span class="material-icons"
					            		  ng-show="showTaskSearch"
					            		  ng-click="showTaskSearch = !showTaskSearch; t = ''">
					            		&#xE888;
					            	</span>
					            </div>
					            <div class="exec-search-box" ng-show="showTaskSearch" flex>
					            	<md-input-container flex>
							          <label>Search Tasks...</label>
							          <input ng-model="t">
							        </md-input-container>
					            </div>
						         <table class="table table-hover clickable-table table-top-margin">
						          	<tr ng-repeat="(key, value) in thisStep.tasks" ng-click="showTaskDetails($event, $index)">
						          		<td>{{value.stepID}}</td>
						          		<td>{{value.type}}</td>
						          		<td>{{value.status}}</td>
						          		<td class="button-cell">
						          			<button class="md-raised md-button md-default-theme" ng-click="killTask($event, $index)" flex>
								    			<span class="ng-scope">KILL</span>
								    			<div class="md-ripple-container"></div>
								    		</button>
								    		<button class="md-raised md-button md-default-theme" ng-click="forceTask($event, $index)" flex>
								    			<span class="ng-scope">FORCE</span>
								    			<div class="md-ripple-container"></div>
								    		</button>
								    	</td>
						          	</tr>
						          	<tr ng-show="!thisStep.tasks">
						          		<td>Select a Step...</td>
						          	</tr>
						        </table>
					    	</md-card-content>
					    </md-card>
					</div>
					<div flex="100">
					  	<md-card>
					    	<md-card-content id="module-action-card" layout="row">
					    		<div>
						    		<button class="md-raised md-primary md-button md-default-theme" ng-click="showSettings($event, $index)" flex>SETTINGS</button>
						    	</div>
					    		<div ng-repeat="(key, value) in thisExecutionUrl">
						    		<button class="md-raised md-primary md-button md-default-theme" flex>
                      <span class="ng-scope"><a ng-href="{{value}}">{{key}}</a></span>
						    			<div class="md-ripple-container"></div>
						    		</button>
						    	</div>
					    	</md-card-content>
					    </md-card>
					</div>
			    </md-content>
		      </md-tab>
		    </md-tabs>
		  </md-content>
		</div>
	</div>
</md-bottom-sheet>
