<md-bottom-sheet class="md-content-overflow md-list md-has-header server-list-bottom-sheet">
	<div class="container" layout="row" layout-wrap>
		<div flex="100" layout="row" layout-align="end">
			<p class="close-btn material-icons" ng-click="closeBottomSheet()">&#xE888;</p>
		</div>
		<div class="server-detail-info" flex="100">
			<h2>{{thisServer.hostname}}</h2>
			<p>
				IP Address: <span>{{thisServer.ip}}</span>
				&nbsp;&nbsp;Uptime: <span>{{thisServer.message.uptime | secondsToTimeString}}</span>
				<!-- Hostname: &nbsp;<span>{{server.host}}</span>
				Roles: &nbsp;<span>{{server.roles}}</span> -->
				&nbsp;&nbsp;Disk Usage: <span>{{thisServer.message.diskUsage}}%</span>
			</p>
		</div>
		<div flex="100">
		  <md-content id="modules-tabs" class="md-padding">
		    <md-tabs md-dynamic-height md-border-bottom>
		      <md-tab label="modules">
		      	<md-content layout="row" layout-wrap>
			      	<div flex="20" ng-repeat="(key, value) in modules">
						  	<md-card class="module-status-card" ng-click="getModuleDetails('module', $event)">
						    	<md-card-content>
						        <div class="server-status-img" ng-style="{{moduleStatusImg($index)}}"></div>
						      	<h3 class="server-host">{{key}}</h3>
						    	</md-card-content>
						    </md-card>
							</div>
						</md-content>
		      </md-tab>
		      <md-tab label="executions">
		      	<md-content layout="row" layout-wrap>
		      		<div flex="33">
					  	<md-card class="exec-list" ng-click="serverListCtrl.showBottomSheet($event, indexExec)">
					    	<md-card-content layout="column">
					    				<div class="exec-card-header" flex>
					            	<h2>EXECUTIONS</h2>
					            	<p ng-show="!reasonForSearch" ng-click="showExecSearch()">
					            		<i class="material-icons">&#xE8B6;</i>
					            		SEARCH
					            	</P>
					            	<span class="material-icons" ng-show="reasonForSearch" ng-click="showExecSearch(); e = ''">
					            		&#xE888;
					            	</span>
					            </div>
					            <div class="exec-search-box" ng-show="reasonForSearch" flex>
					            	<md-input-container flex>
								          <label>Search Executions...</label>
								          <input ng-model="e.executionID">
								        </md-input-container>
					            </div>
						         <table class="table table-hover clickable-table table-top-margin">
						          	<tr ng-repeat="(key, value) in executions.executions | filter:e as resultsExec" ng-click="startExecutionInterval(key, resultsExec, e)" ng-class="highlightSelectedExec(key)">
						          		<td>
							          		<table class="table-hover clickable-table">
							          			<tr>
							          				<td colspan="2" class="td-width small-font italic">{{value.type}}</td>
							          			</tr><tr>
							          				<td class="td-width">{{value.executionID}}</td>
							          				<td>{{value.status}}</td>
							          			</tr><tr>
							          				<td class="small-font" colspan="2">Start: {{value.startDate | dateString}} &nbsp;&nbsp;&nbsp;End: {{value.endDate | dateString}}</td>
							          			</tr>
							          		</table>
							          	</td>
						          	</tr>
						        </table>
					    	</md-card-content>
					    </md-card>
					</div>
			        <div flex="33">
					  	<md-card class="exec-list" ng-click="serverListCtrl.showBottomSheet($event, indexStep)">
					    	<md-card-content layout="column">
					    				<div class="exec-card-header" flex>
					            	<h2>STEPS</h2>
					            	<p ng-show="!showStepSearch && executionPing.message.executionDetails.steps" ng-click="showStepSearch = !showStepSearch">
					            		<i class="material-icons">&#xE8B6;</i>
					            		SEARCH
					            	</p>
					            	<span class="material-icons"
					            		  ng-show="showStepSearch"
					            		  ng-click="showStepSearch = !showStepSearch; s = ''">
					            		&#xE888;
					            	</span>
					            </div>
					            <div class="exec-search-box" ng-show="showStepSearch" flex>
					            	<md-input-container flex>
							          <label>Search Steps...</label>
							          <input ng-model="s.label">
							        	</md-input-container>
					            </div>
						         <table class="table table-hover clickable-table table-top-margin">
						          	<tr ng-repeat="(key, value) in executionPing.message.executionDetails.steps | filter:s as resultsStep" ng-click="startStepInterval(key, resultsStep, s)" ng-class="highlightSelectedStep(key)">
						          		<td>{{value.label}}</td>
						          		<td>{{value.status}}</td>
						          	</tr>
						          	<tr ng-show="!executionPing.message.executionDetails.steps">
						          		<td>Select a Task...</td>
						          	</tr>
						        </table>
					    	</md-card-content>
					    </md-card>
					</div>
					<div flex="33">
					  	<md-card class="exec-list" ng-click="serverListCtrl.showBottomSheet($event, indexTask)">
					    	<md-card-content layout="column">
					    				<div class="exec-card-header" flex>
					            	<h2>TASKS</h2>
					            	<p ng-show="!showTaskSearch && thisStep.tasks" ng-click="showTaskSearch = !showTaskSearch">
					            		<i class="material-icons">&#xE8B6;</i>
					            		SEARCH
					            	</p>
					            	<span class="material-icons"
					            		  ng-show="showTaskSearch"
					            		  ng-click="showTaskSearch = !showTaskSearch; t = ''">
					            		&#xE888;
					            	</span>
					            </div>
					            <div class="exec-search-box" ng-show="showTaskSearch" flex>
					            	<md-input-container flex>
							          <label>Search Tasks...</label>
							          <input ng-model="t.type">
							        	</md-input-container>
					            </div>
						         <table class="table table-hover clickable-table table-top-margin">
						          	<tr ng-repeat="(key, value) in thisStep.tasks | filter:t as resultsTask" ng-click="startTaskInterval($event, key, resultsTask, t)" ng-class="highlightSelectedTask(key)">
						          		<td>{{value.type}}</td>
						          		<td>{{value.status}}</td>
<!-- 						          		<td class="button-cell">
								          	<button class="md-raised md-button md-default-theme" ng-click="killTask($event, $index)" flex>
										    			<span class="ng-scope">KILL</span>
										    			<div class="md-ripple-container"></div>
										    		</button>
										    		<button class="md-raised md-button md-default-theme" ng-click="forceTask($event, $index)" flex>
										    			<span class="ng-scope">FORCE</span>
										    			<div class="md-ripple-container"></div>
										    		</button>
										    	</td> -->
						          	</tr>
						          	<tr ng-show="!thisStep.tasks">
						          		<td>Select a Step...</td>
						          	</tr>
						        </table>
					    	</md-card-content>
					    </md-card>
					</div>
					<div flex="100">
					  	<md-card>
					    	<md-card-content id="module-action-card" layout="row">
					    		<div ng-repeat="(key, value) in thisExecutionUrl | filter:e as resultsExec">
						    		<button class="md-raised md-primary md-button md-default-theme" ng-click="selectOperation($event, value, resultsExec)" flex>
                      <span class="ng-scope">{{key}}</span>
						    			<div class="md-ripple-container"></div>
						    		</button>
					    		</div>
					    		<button class="md-raised md-primary md-button md-default-theme" ng-click="showSettings($event, key)" ng-show="thisExecutionUrl">SETTINGS</button>
					    		<button class="md-raised md-primary md-button md-default-theme" ng-click="showExecutionFiles($event, key)" ng-show="thisExecutionUrl">EXECUTION FILES</button>
					    	</md-card-content>
					    </md-card>

					</div>
			    </md-content>
		      </md-tab>
		    </md-tabs>
		  </md-content>
		</div>
	</div>
</md-bottom-sheet>
