<md-dialog aria-label="Task Status">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Status of "{{thisTask.type}}" Task</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-card>
      <md-card-content>
        <p>Error</p>
        {{thisTask.error}}
      </md-card-content>
      <md-card-content>
        <p>Priority</p>
        {{thisTask.priority}}
      </md-card-content>
      <md-card-content>
        <p>Timeout Length</p>
        {{thisTask.timeoutLength}}
      </md-card-content>
    </md-card>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="closeTaskDetails()" class="md-primary">
     DISMISS
    </md-button>
  </div>
  </form>
</md-dialog>
