<md-dialog aria-label="Task Status">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Status of "{{thisTask.type}}" Task</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-card>
      <md-card-content>
      <table class="table table-striped text-center">
          <tr>
            <th>Execution ID</th>
            <th>Error</th>
            <th>Failure Count</th>
            <th>Priority</th>
            <th>Timeout Length</th>
          </tr>
          <tr>
            <th>{{thisTask.executionID}}</th>
            <th>{{thisTask.error}}</th>
            <th>{{thisTask.failureCount}}</th>
            <th>{{thisTask.priority}}</th>
            <th>{{thisTask.timeoutLength}}</th>
          </tr>
      </table>
      </md-card-content>
    </md-card>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="closeTaskDetails()" class="md-primary">
     DISMISS
    </md-button>
  </div>
  </form>
</md-dialog>
